<p>
  products works!</p>

  il form di inserimento dei prodotti inseriscilo tutto qui ( metti le classi che vuoi basta che lasci invariato
  il name del input file perchè sennò nonc aricherà la foto del prodotto)
  <form method="post" enctype="multipart/form-data" action="http://seserver.noip.me:8080/rest/images">
            <input type="hidden" name="nomeFile" value="{{id_product}}"/>  <!-- id_product sarà il nome del file -->
            <input type="file" name="myimage"/>
            <input type="submit" name="submit" value="submit" (onsubmit)="onsubmit()">
        </form>
  <img src="{{image}}"/>
